<a href="https://colab.research.google.com/github/AkiBae4891/DS-Unit-3-Sprint-2-SQL-and-Databases/blob/master/SQLite3_Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Import SQLite 3 and load the DB

In [0]:
import sqlite3
conn = sqlite3.connect('rpg_db.sqlite3')
curs = conn.cursor()

In [0]:
query = """SELECT * 
FROM charactercreator_character 
INNER JOIN charactercreator_mage 
ON character_id = character_ptr_id;"""

curs.execute(query)
results = curs.fetchone()
remaining_results = curs.fetchall()

In [21]:
results

(69, 'Totam natus eius fugiat volu', 0, 0, 10, 1, 1, 1, 1, 69, 1, 100)

In [22]:
remaining_results

[(70, 'Perferendis commodi null', 0, 0, 10, 1, 1, 1, 1, 70, 1, 100),
 (71, 'Laudantiu', 0, 0, 10, 1, 1, 1, 1, 71, 1, 100),
 (72, 'Voluptat', 0, 0, 10, 1, 1, 1, 1, 72, 1, 100),
 (73, 'Incidunt nesciun', 0, 0, 10, 1, 1, 1, 1, 73, 1, 100),
 (74, 'Illum amet vero', 0, 0, 10, 1, 1, 1, 1, 74, 1, 100),
 (75, 'Suscipit exercitationem re', 0, 0, 10, 1, 1, 1, 1, 75, 1, 100),
 (76, 'Quas enim error maxime nisi m', 0, 0, 10, 1, 1, 1, 1, 76, 1, 100),
 (77, 'Labore qu', 0, 0, 10, 1, 1, 1, 1, 77, 1, 100),
 (78, 'Repudiandae deleniti unde', 0, 0, 10, 1, 1, 1, 1, 78, 1, 100),
 (79, 'Ut do', 0, 0, 10, 1, 1, 1, 1, 79, 1, 100),
 (80, 'Quaerat esse labore q', 0, 0, 10, 1, 1, 1, 1, 80, 1, 100),
 (81, 'Quidem aliq', 0, 0, 10, 1, 1, 1, 1, 81, 1, 100),
 (82, 'Aperiam vitae eos dolor sed', 0, 0, 10, 1, 1, 1, 1, 82, 1, 100),
 (83, 'Minus nobis porro', 0, 0, 10, 1, 1, 1, 1, 83, 1, 100),
 (84, 'In similique', 0, 0, 10, 1, 1, 1, 1, 84, 1, 100),
 (85, 'Culpa repellat unde', 0, 0, 10, 1, 1, 1, 1, 85, 1, 100),
 (86, 'Architecto i', 0, 0, 10, 1, 1, 1, 1, 86, 1, 100),
 (87, 'A sed pariatur qua', 0, 0, 10, 1, 1, 1, 1, 87, 1, 100),
 (88, 'Tempore assumenda aperiam', 0, 0, 10, 1, 1, 1, 1, 88, 1, 100),
 (89, 'Sed ullam tempora iusto co', 0, 0, 10, 1, 1, 1, 1, 89, 1, 100),
 (90, 'Ipsa', 0, 0, 10, 1, 1, 1, 1, 90, 1, 100),
 (91, 'Fugiat incidun', 0, 0, 10, 1, 1, 1, 1, 91, 1, 100),
 (92, 'Molestiae of', 0, 0, 10, 1, 1, 1, 1, 92, 1, 100),
 (93, 'Quae quisquam cons', 0, 0, 10, 1, 1, 1, 1, 93, 1, 100),
 (94, 'Repellendus ea non facil', 0, 0, 10, 1, 1, 1, 1, 94, 1, 100),
 (95, 'Quod non quibu', 0, 0, 10, 1, 1, 1, 1, 95, 1, 100),
 (96, 'Numquam velit distinctio', 0, 0, 10, 1, 1, 1, 1, 96, 1, 100),
 (97, 'Necessitatibus nihil ex debi', 0, 0, 10, 1, 1, 1, 1, 97, 1, 100),
 (98, 'Velit tempore nemo, na', 0, 0, 10, 1, 1, 1, 1, 98, 1, 100),
 (99, 'Nesciunt v', 0, 0, 10, 1, 1, 1, 1, 99, 1, 100),
 (100, 'Dicta enim debitis accusantiu', 0, 0, 10, 1, 1, 1, 1, 100, 1, 100),
 (101, 'Vitae a', 0, 0, 10, 1, 1, 1, 1, 101, 1, 100),
 (102, 'Praesentium voluptas u', 0, 0, 10, 1, 1, 1, 1, 102, 1, 100),
 (103, 'Unde ullam mollitia? Nu', 0, 0, 10, 1, 1, 1, 1, 103, 1, 100),
 (104, 'Neque molestias qu', 0, 0, 10, 1, 1, 1, 1, 104, 1, 100),
 (105, 'Officiis es', 0, 0, 10, 1, 1, 1, 1, 105, 1, 100),
 (106, 'Beatae mi', 0, 0, 10, 1, 1, 1, 1, 106, 1, 100),
 (107, 'Mollitia nam corporis temp', 0, 0, 10, 1, 1, 1, 1, 107, 1, 100),
 (108, 'Repudiandae repellat i', 0, 0, 10, 1, 1, 1, 1, 108, 1, 100),
 (109, 'Laboriosam', 0, 0, 10, 1, 1, 1, 1, 109, 1, 100),
 (110, 'Nam minus amet', 0, 0, 10, 1, 1, 1, 1, 110, 1, 100),
 (111, 'Harum quae volup', 0, 0, 10, 1, 1, 1, 1, 111, 1, 100),
 (112, 'Impedit facere ulla', 0, 0, 10, 1, 1, 1, 1, 112, 1, 100),
 (113, 'Enim', 0, 0, 10, 1, 1, 1, 1, 113, 1, 100),
 (114, 'Dolore magni', 0, 0, 10, 1, 1, 1, 1, 114, 1, 100),
 (115, 'Eaque at corpori', 0, 0, 10, 1, 1, 1, 1, 115, 1, 100),
 (116, 'Fug', 0, 0, 10, 1, 1, 1, 1, 116, 1, 100),
 (117, 'Dolorum laudanti', 0, 0, 10, 1, 1, 1, 1, 117, 1, 100),
 (118, 'Perferendis nat', 0, 0, 10, 1, 1, 1, 1, 118, 1, 100),
 (119, 'Cupidi', 0, 0, 10, 1, 1, 1, 1, 119, 1, 100),
 (120, 'Commodi eius dicta digniss', 0, 0, 10, 1, 1, 1, 1, 120, 1, 100),
 (121, 'Debitis eu', 0, 0, 10, 1, 1, 1, 1, 121, 1, 100),
 (122, 'Nihil repella', 0, 0, 10, 1, 1, 1, 1, 122, 1, 100),
 (123, 'Rem quasi minima hic sed anim', 0, 0, 10, 1, 1, 1, 1, 123, 1, 100),
 (124, 'Sed ali', 0, 0, 10, 1, 1, 1, 1, 124, 1, 100),
 (125, 'Earum vol', 0, 0, 10, 1, 1, 1, 1, 125, 1, 100),
 (126, 'Inventore tempore com', 0, 0, 10, 1, 1, 1, 1, 126, 1, 100),
 (127, 'Repell', 0, 0, 10, 1, 1, 1, 1, 127, 1, 100),
 (128, 'Consequatur quis recusandae qu', 0, 0, 10, 1, 1, 1, 1, 128, 1, 100),
 (129, 'Dolores ea velit mi', 0, 0, 10, 1, 1, 1, 1, 129, 1, 100),
 (130, 'Atque blanditiis a aperiam', 0, 0, 10, 1, 1, 1, 1, 130, 1, 100),
 (131, 'Reprehenderit sequi iu', 0, 0, 10, 1, 1, 1, 1, 131, 1, 100),
 (132, 'Natus architecto eos, hic blan', 0, 0, 10, 1, 1, 1, 1, 132, 1, 100),
 (133, 'Ipsa illo quas', 0, 0, 10, 1, 1, 1, 1, 133, 1, 100),
 (134, 'Voluptas ali', 0, 0, 10, 1, 1, 1, 1, 134, 1, 100),
 (135, 'Voluptates obcaecati quod e', 0, 0, 10, 1, 1, 1, 1, 135, 1, 100),
 (136, 'Dolor adipisci a voluptate', 0, 0, 10, 1, 1, 1, 1, 136, 1, 100),
 (137, 'Repellendus natus quae, n', 0, 0, 10, 1, 1, 1, 1, 137, 1, 100),
 (138, 'Laudantium earum nam in dol', 0, 0, 10, 1, 1, 1, 1, 138, 1, 100),
 (139, 'Molestias face', 0, 0, 10, 1, 1, 1, 1, 139, 1, 100),
 (140, 'Maiores suscipit exc', 0, 0, 10, 1, 1, 1, 1, 140, 1, 100),
 (141, 'Illum dolore perferen', 0, 0, 10, 1, 1, 1, 1, 141, 1, 100),
 (142, 'Explicabo recusandae ma', 0, 0, 10, 1, 1, 1, 1, 142, 1, 100),
 (143, 'Odio obcaecati hic nostrum n', 0, 0, 10, 1, 1, 1, 1, 143, 1, 100),
 (144, 'Voluptate ali', 0, 0, 10, 1, 1, 1, 1, 144, 1, 100),
 (145, 'Repudiandae vitae sapiente mol', 0, 0, 10, 1, 1, 1, 1, 145, 1, 100),
 (146, 'Ipsam cumque', 0, 0, 10, 1, 1, 1, 1, 146, 1, 100),
 (147, 'Fugiat quos alias eos dese', 0, 0, 10, 1, 1, 1, 1, 147, 1, 100),
 (148, 'Eaque impe', 0, 0, 10, 1, 1, 1, 1, 148, 1, 100),
 (149, 'Elige', 0, 0, 10, 1, 1, 1, 1, 149, 1, 100),
 (150, 'Adip', 0, 0, 10, 1, 1, 1, 1, 150, 1, 100),
 (151, 'Fuga nemo vel mo', 0, 0, 10, 1, 1, 1, 1, 151, 1, 100),
 (152, 'Libero cumque impedit eveniet', 0, 0, 10, 1, 1, 1, 1, 152, 1, 100),
 (153, 'Odio soluta', 0, 0, 10, 1, 1, 1, 1, 153, 1, 100),
 (154, 'Vero nostrum duc', 0, 0, 10, 1, 1, 1, 1, 154, 1, 100),
 (155, 'Repellend', 0, 0, 10, 1, 1, 1, 1, 155, 1, 100),
 (156, 'Quod', 0, 0, 10, 1, 1, 1, 1, 156, 1, 100),
 (157, 'Suscipit reiciend', 0, 0, 10, 1, 1, 1, 1, 157, 1, 100),
 (158, 'Voluptat', 0, 0, 10, 1, 1, 1, 1, 158, 1, 100),
 (159, 'Porro dolor fuga quam', 0, 0, 10, 1, 1, 1, 1, 159, 1, 100),
 (160, 'Amet quo fugit aliquam sequi', 0, 0, 10, 1, 1, 1, 1, 160, 1, 100),
 (161, 'Magni adipisci veritatis sit q', 0, 0, 10, 1, 1, 1, 1, 161, 1, 100),
 (162, 'Debitis enim cumque cum qu', 0, 0, 10, 1, 1, 1, 1, 162, 1, 100),
 (163, 'Dolorem eligend', 0, 0, 10, 1, 1, 1, 1, 163, 1, 100),
 (164, 'Autem lib', 0, 0, 10, 1, 1, 1, 1, 164, 1, 100),
 (165, 'Saepe assumenda perferendis f', 0, 0, 10, 1, 1, 1, 1, 165, 1, 100),
 (292, 'Vero a', 0, 0, 10, 1, 1, 1, 1, 292, 1, 100),
 (293, 'Optio harum labori', 0, 0, 10, 1, 1, 1, 1, 293, 1, 100),
 (294, 'Duci', 0, 0, 10, 1, 1, 1, 1, 294, 1, 100),
 (295, 'Ipsa elige', 0, 0, 10, 1, 1, 1, 1, 295, 1, 100),
 (296, 'Sunt blanditiis i', 0, 0, 10, 1, 1, 1, 1, 296, 1, 100),
 (297, 'Doloremque', 0, 0, 10, 1, 1, 1, 1, 297, 1, 100),
 (298, 'Autem ratione vitae quos, do', 0, 0, 10, 1, 1, 1, 1, 298, 1, 100),
 (299, 'Voluptatibus aliquid', 0, 0, 10, 1, 1, 1, 1, 299, 1, 100),
 (300, 'Quaerat sequi sit eius corpori', 0, 0, 10, 1, 1, 1, 1, 300, 1, 100),
 (301, 'Libe', 0, 0, 10, 1, 1, 1, 1, 301, 1, 100),
 (302, 'Aliquam n', 0, 0, 10, 1, 1, 1, 1, 302, 1, 100)]

## How many total characters?

### There are 302 characters

In [15]:
query = """SELECT COUNT(character_id) FROM charactercreator_character;"""
curs.execute(query)
curs.fetchall()

[(302,)]

### How many of each specific Subclass

In [0]:
# Can use  SQL COUNT() with GROUP by?
query = """SELECT"""

In [9]:
#Cleric
query = """SELECT COUNT(character_ptr_id) 
FROM charactercreator_cleric;"""
curs.execute(query)
curs.fetchall()

[(75,)]

In [23]:
#Fighter
query = """SELECT COUNT(character_ptr_id) 
FROM charactercreator_fighter;"""
curs.execute(query)
curs.fetchall()

[(68,)]

In [24]:
#Mage
query = """SELECT COUNT(character_ptr_id) 
FROM charactercreator_mage;"""
curs.execute(query)
curs.fetchall()

[(108,)]

In [16]:
#Necromancer
query = """SELECT COUNT(mage_ptr_id) 
FROM charactercreator_necromancer;"""
curs.execute(query)
curs.fetchall()

[(11,)]

In [15]:
#Thief
query = """SELECT COUNT(character_ptr_id) 
FROM charactercreator_thief;"""
curs.execute(query)
curs.fetchall()

[(51,)]

### How many total Items?

In [10]:
query = """SELECT COUNT(item_id)
FROM armory_item"""
curs.execute(query)
curs.fetchall()

[(174,)]

### How many of the Items are weapons? How many are not?

### 37 of the items are weapons, and 137 are not.

In [19]:
# add up all items, add up weapons, then subtract weapons. Easy solution 
query1 = """SELECT COUNT(item_id)
FROM armory_item"""
curs.execute(query1)
curs.fetchall()

[(174,)]

In [20]:
query2 = """SELECT COUNT(item_ptr_id)
FROM armory_weapon"""
curs.execute(query2)
curs.fetchall()

[(37,)]

### How many Items does each character have? (Return first 20 rows)

In [24]:
query = """SELECT character_id, COUNT(item_id)
FROM charactercreator_character_inventory
GROUP BY character_id LIMIT 20;"""
curs.execute(query)
curs.fetchall()

[(1, 3),
 (2, 3),
 (3, 2),
 (4, 4),
 (5, 4),
 (6, 1),
 (7, 5),
 (8, 3),
 (9, 4),
 (10, 4),
 (11, 3),
 (12, 3),
 (13, 4),
 (14, 4),
 (15, 4),
 (16, 1),
 (17, 5),
 (18, 5),
 (19, 3),
 (20, 1)]

### How many weapons does each character have? (Return first 20 rows)

In [25]:
query = """SELECT character_id, COUNT(item_id)
FROM charactercreator_character_inventory
WHERE item_id > 138
GROUP BY character_id;"""
curs.execute(query)
curs.fetchall()

[(5, 2),
 (7, 1),
 (11, 1),
 (20, 1),
 (22, 1),
 (23, 1),
 (26, 1),
 (27, 3),
 (29, 2),
 (32, 1),
 (34, 1),
 (35, 2),
 (36, 3),
 (37, 2),
 (38, 2),
 (39, 2),
 (40, 1),
 (41, 1),
 (47, 1),
 (51, 1),
 (53, 1),
 (55, 2),
 (56, 1),
 (57, 2),
 (58, 1),
 (59, 2),
 (60, 1),
 (63, 3),
 (64, 1),
 (65, 1),
 (66, 1),
 (68, 1),
 (69, 1),
 (70, 3),
 (71, 1),
 (74, 1),
 (78, 1),
 (80, 1),
 (81, 2),
 (84, 2),
 (85, 2),
 (86, 1),
 (88, 1),
 (90, 1),
 (92, 1),
 (94, 1),
 (96, 2),
 (99, 1),
 (100, 1),
 (101, 1),
 (103, 1),
 (105, 1),
 (106, 1),
 (108, 2),
 (112, 1),
 (113, 2),
 (114, 1),
 (115, 1),
 (117, 1),
 (118, 1),
 (122, 1),
 (126, 1),
 (127, 2),
 (128, 1),
 (129, 1),
 (131, 1),
 (134, 2),
 (136, 1),
 (139, 1),
 (141, 1),
 (142, 3),
 (143, 1),
 (145, 1),
 (147, 1),
 (148, 1),
 (149, 1),
 (151, 1),
 (152, 1),
 (153, 1),
 (156, 1),
 (160, 1),
 (164, 1),
 (165, 2),
 (166, 1),
 (168, 1),
 (169, 1),
 (170, 2),
 (171, 1),
 (175, 1),
 (176, 1),
 (178, 1),
 (181, 1),
 (183, 2),
 (184, 1),
 (185, 1),
 (186, 1),
 (191, 1),
 (192, 2),
 (193, 1),
 (194, 2),
 (196, 1),
 (198, 1),
 (199, 3),
 (206, 2),
 (210, 1),
 (212, 1),
 (216, 1),
 (217, 1),
 (218, 1),
 (222, 1),
 (223, 1),
 (224, 1),
 (225, 1),
 (227, 3),
 (229, 1),
 (233, 1),
 (238, 2),
 (239, 1),
 (241, 2),
 (242, 1),
 (243, 1),
 (244, 1),
 (245, 2),
 (247, 2),
 (250, 2),
 (251, 1),
 (252, 1),
 (253, 1),
 (254, 1),
 (256, 2),
 (257, 1),
 (261, 2),
 (262, 1),
 (263, 1),
 (264, 1),
 (265, 1),
 (267, 1),
 (271, 1),
 (275, 1),
 (279, 1),
 (280, 2),
 (281, 1),
 (282, 1),
 (283, 1),
 (285, 1),
 (287, 1),
 (290, 1),
 (292, 1),
 (293, 1),
 (294, 2),
 (295, 1),
 (296, 1),
 (301, 1),
 (302, 1)]

### On average, how many Items does each Character have? 
###On average, how many weapons does each Character have?
### 898 / 302 = 2.97

In [27]:
# using division 

query = """SELECT COUNT(item_id) / COUNT(DISTINCT character_id)
FROM charactercreator_character_inventory;"""
curs.execute(query)
curs.fetchall()

[(2,)]

In [30]:
# using division 
query = """SELECT COUNT(item_id) / COUNT(DISTINCT character_id)
FROM charactercreator_character_inventory
WHERE item_id > 138"""
curs.execute(query)
curs.fetchall()

[(1,)]

In [0]:
# query = """SELECT character_id, AVG(item_id)
# FROM charactercreator_character_inventory
# WHERE item_id > 138
# GROUP BY character_id;"""
# curs.execute(query)
# curs.fetchall()

In [40]:
# query = """SELECT AVG(item_id)
# FROM armory_item"""
# curs.execute(query)
# curs.fetchall()

[(87.5,)]

In [41]:
# query = """SELECT AVG(item_ptr_id)
# FROM armory_weapon"""
# curs.execute(query)
# curs.fetchall()

[(156.0,)]

# Buddymove Dataset; Assignment 2

In [0]:
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [0]:
# Create in memory SQLite db
engine = create_engine('sqlite://', echo=False)

In [3]:

df = pd.read_csv('buddymove_holidayiq.csv')
df.shape

(249, 7)

In [4]:
# make buddymove_holidayiq.sqlite3 db
df.head()

  User Id  Sports  Religious  Nature  Theatre  Shopping  Picnic
0  User 1       2         77      79       69        68      95
1  User 2       2         62      76       76        69      68
2  User 3       2         50      97       87        50      75
3  User 4       2         68      77       95        76      61
4  User 5       2         98      54       59        95      86

In [12]:
df.to_sql('buddymove_holidayiq', con=engine, index=True, index_label=None)
engine.execute("SELECT * FROM buddymove_holidayiq").fetchall()

ValueError: ignored

In [0]:
# engconn = sqlite3.connect('buddymove_holidayiq.sqlite3')
# curs = engconn.cursor()

In [0]:
# query = """SELECT *
# FROM Nature"""
# curs.execute(query)
# curs.fetchall()

In [6]:
engine.commit()

AttributeError: ignored

In [0]:
engine.close()

In [0]:
!pip install psycopg2-binary

Collecting psycopg2-binary
  Downloading https://files.pythonhosted.org/packages/b1/35/75c9c2d9cfc073ab6c42b2d8e91ff58c9b99f4ed7ed56b36647642e6080e/psycopg2_binary-2.8.3-cp36-cp36m-manylinux1_x86_64.whl (2.9MB)
     |████████████████████████████████| 2.9MB 2.8MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.8.3